.error-message {
    color: #FF0000;
    margin: 0.5em;
    height: 1em;
}

/*.not_evaluated {
    color: #FFFFFF;
}

.damage {
    color: #fe3333;
    fill: #fe3333;
    fill-opacity: 0.5;
}

.no_damage {
    color: #334afe;
    fill-opacity: 0.5;
}

.unsure {
    color: #bb4cf4;
    fill-opacity: 0.8;
}*/