.error-message {
    color: #FF0000;
    margin: 0.5em;
    height: 1em;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-top: 10%;
}

@media (max-width: 768px) {
    .login-container {
        margin-top: 0%;
    }
    .hide-on-small {
        display: none;
    }
    .show-on-small {
        display: initial;
    }
}

.leaflet-map-container nav {
    margin-bottom: 0;
}

.app-container {
    height: 100%;
    width: 100%;
    /*color: #ffffff;*/
    background-color: #007a9d;
    background-image: url('/assets/images/earth.jpg');
    background-size: cover;
}

.event-card {
    color: #000000;
    background-color: #ffffff;
}

.event-detail-container {
    background-color: rgba(100%, 100%, 100%, 0.859);
    margin: 0% 2% 0% 2%;
    padding: 2%;
}

.event-detail-thumbnail {
    width: 30%;
    height: 30%;
}

.event-data-container {
    height: 30%;
    overflow-y: scroll;
}

.back-button {
    position: absolute;
    top: 3%;
    right: 3%
}

.back-button:hover {
    color: rgb(39.4%, 39.4%, 39.4%);
}

.navbar {
    height: 5%;
}

.navigator {
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: #000000;
}

.nav .breadcrumb {
    margin: 7px 10px;
}

.breadcrumb li {
    color: #000000;
}

.leaflet-map-container {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

#vote-interface {
    height: 15%;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.vote-button {
    color: black;
    height: 75%;
    width: 20%;
}

.title {
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: #ff0000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header {
    padding: 40px 2% 0% 2%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}